name: Nix

on:
  push:
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@v13
      with:
        diagnostic-endpoint: ""

    - name: Build via Nix
      run: nix build
